body{
    font-family: verdana, sans-serif;
    background-color: #2a3477;
    color: white;
    margin: auto;
    width: 90%;
    margin-bottom: 56px;

}
h1{
    text-align: center;
    background-color: #662549;
    font-size: 50px;
    margin-bottom: 0;
}
.p2{
     text-align: center;
     margin-top: 0;
     background-color: #ae445a;
     padding: 2px;

}
h2{
    color: white;
    background-color: #662549;
    border-bottom: solid 3px #f39f5a;
    padding: 7px;
}
ul{
    padding-left: 0;
    list-style-position: inside;
}
a{
    text-decoration: none;
}
.menu{
    text-align: center;
}
.menu a:hover{
    background-color: #e8bcb9;
    color: white;
    text-decoration: none;
}
.menu a{
    background-color: #f39f5a;
    padding: 16px;
    display: block;
}

.menu li{
    padding: 0;
    display: inline-block;
    list-style-type: none;
}